<h1>Lista di libri</h1>
<table>
    <thead>
        <th>userId</th><th>id</th><th>titolo</th><th>completed</th><th></th>
    </thead>
    <tbody>
    <tr *ngFor="let libro of json$ | async">
    <td>{{libro.userId}}</td><td>{{libro.id}}</td> <td>{{libro.title}}</td><td>{{libro.completed}}</td><td><button mat-mini-fab color="warn" (click)="eliminaLibro(libro.id)"><mat-icon>delete</mat-icon></button></td><td><button mat-mini-fab color="accent" (click)="modificaLibro(libro.id)"><mat-icon>edit</mat-icon></button></td>
    </tr>
    </tbody>
</table>